.home {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  border: 0;
  border-bottom: solid #2b90c2 3px;
  color: #2b90c2;
  width: 50%;
  font-size: 1.5rem;
}

.home__content {
  padding: 2rem;
  display: flex;
  flex-direction: inline-block;
  justify-content: center;
  gap: 0;
}

.home__text {
  width: 20%;
  padding: 2rem;
  background: #2b90c2;
  color: white;
}

.home__content img {
  width: 30%;
  height: 50%;
}

@media screen and (max-width: 430px) {
  .home {
    padding: 1rem;
  }
}