:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}